body {
  color: #fff;
  background-color: gray;
  margin: 0 auto;
  padding: 5em;
}

/* h1 {
  font-size: 
} */

.container {
  width: 90%;
  max-width: 800px;
}

.modal .label {
  color: #fff;
}

.modal {
  padding: 6em;
}
