body {
  margin: 0 auto;
  padding: 6em;
}

header {
  background: -moz-linear-gradient(to right, #021129, #3273dc);
  padding: 3em;
}

header h1 {
  color: #fff;
  font-size: 4rem;
  margin: 0 0 1em 2em;
}

header p {
  color: #fff;
  font-size: 2rem;
  padding-right: 22em;
  margin-left: 4em;
}

header img {
  width: 33%;
  position: relative;
  top: -6em;
  left: 50em;
}
